body, p, li, a { font-family: georgia, times, serif;font-size:13pt;}
h1, h2, h3 { font-family: 'Yanone Kaffeesatz', arial, serif; }
body { margin:0;padding:0;}
#hd {
	width : 100%;
	height : 87px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}
#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}
#logo,#bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : white;
	font-size:36pt;
	display: inline;
}
#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}
body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 75px;
	bottom : 75px;
	left : 50%;
	margin-left : -325px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
a, a:visited, a:hover, a:active {
	color : #6493D2;
}
h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:#FF5500;
}
h3 {
	padding : 0; margin:0;
	font-size:24pt;
	color:#092E67;
}
.fullscreen {
	min-width: 1800px;
	max-width: 2400px;
	background-size: cover;
	background-repeat: no-repeat;
}

.gamePanel {
	display: flex;
	background-image: url('background.jpg');
	flex-direction: column;
	height: 1080px;
}

.gamePanel .filler {
  flex-grow: 1;
}
.signUpPanel {
	display: flex;
	flex-direction: column;
	height: 960px;
	background-image: url('title_screen.png');
}
.signUpPanel form{
	text-align: center;
	background-color: #FF9977A0;
	padding-top:10px;
	padding-bottom: 10px;
}
.signUpPanel .inquiry {
	font-style: oblique;
	font-size: 20pt;
}
.signUpPanel .filler1{
	flex-grow: 7;
}
.signUpPanel .filler2{
	flex-grow: 1;
}

.numeral {
	font-size: 40pt;
	text-align: center;
	font-weight: bold;
}
.playername {
	font-size: 20pt;
	text-align: center;
	background-color: #6493D220;
	font-weight: bold;
}
.commander, .legionnaire {
	text-align: center;
	width:210px;
}
.decimatio {
	animation: animate 1.5s linear infinite;
}
@keyframes animate{
	0%{
		color: #FF5500;
	}
	50%{
		color: #ffffff;
	}
	100%{
		color: #FF5500;
	}
}
.commander {
	position: relative;
	top: 500px;
	z-index: 100;
}
.legionnaire {
	padding-bottom: 50px;
}
body {
	font-family: "Nimbus Roman";
}
.controls {
	text-align: center;
}
.controls input {
	margin: 15px;
	padding: 10px;
	font-size: 40px;
}
.introlink {
	margin: 20px;
	position: fixed;
	z-index:50;
	font-size: 15pt;
	right:0;
	top:0;
}
.story p, .story li {
	font-size: 32pt;

}
body.story {
	margin-top: 20px;
	font-size: 40px;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	background-color: #c0e0ff;
}
.story h1 {
	text-align: center;
	clear: both;
}

